
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #3F5EFB;
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    width: 300px;
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}


input[type="password"], input[type="text"] {
    width: 85%;
    padding: 10px 40px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;

}

#btn_validar {
    margin-top: 15px;
    background-color: rgba(212, 14, 106, 0.29);
    border: none;
    padding: 7px 20px;
    border-radius:  10px;
    font-size: 10px;
    box-shadow: 0 0 2px 0.5px #ee1414ad; 
    cursor: pointer;

}
#btn_validar:hover{
    background-color: #ffffff ;
  
}
.toggle_password{
    position: absolute;
    cursor: pointer;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: rgb(14, 125, 223);
}
.inputs {
    position: relative;
    width: 100%;
}
a {
    text-decoration: none;
    color: rgb(150, 100, 245);
}

a:hover {
    color: rgb(247, 57, 9);
    text-decoration: underline;

}

